{
  "openapi": "3.0.0",
  "info": {
    "title": "Smart Digital Twin API",
    "version": "1.0.0",
    "description": "Dokumentasi API website Smart Digital Twin."
  },
  "servers": [
    {
      "url": "https://dtwin.projectbase.my.id",
      "description": "Development Server"
    }
  ],
  "tags": [
    {
      "name": "Users"
    },
    {
      "name": "Auth"
    },
    {
      "name": "Profiles"
    },
    {
      "name": "Analytics"
    }
  ],
  "paths": {
    "/users": {
      "post": {
        "tags": ["Users"],
        "summary": "Register new user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fullname": { "type": "string" },
                  "username": { "type": "string" },
                  "email": { "type": "string" },
                  "password": { "type": "string" }
                },
                "required": ["fullname", "username", "email", "password"]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Register success." }
        }
      }
    },
    "/users/verify-otp": {
      "post": {
        "tags": ["Users"],
        "summary": "Verify Otp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "code": { "type": "string" }
                },
                "required": ["email", "code"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Login success." }
        }
      }
    },
    "/auth/google-login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Login user oauth",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": { "type": "string" }
                },
                "required": ["idToken"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Login oauth success." }
        }
      }
    },
    "/auth": {
      "post": {
        "tags": ["Auth"],
        "summary": "Login user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": { "type": "string" },
                  "password": { "type": "string" }
                },
                "required": ["identifier", "password"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Login success." }
        }
      },
      "put": {
        "tags": ["Auth"],
        "summary": "Refresh Token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": { "type": "string" }
                },
                "required": ["refreshToken"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Refresh token success." }
        }
      },
      "delete": {
        "tags": ["Auth"],
        "summary": "Delete Refresh Token",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": { "type": "string" }
                },
                "required": ["refreshToken"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Delete token success." }
        }
      }
    },
    "/profiles": {
      "put": {
        "tags": ["Profiles"],
        "summary": "Update profile user",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "full_name": { "type": "string" },
                  "phone": { "type": "string" },
                  "birth_date": { "type": "string", "format": "date" },
                  "gender": { "type": "string", "enum": ["male", "female"] },
                  "profile_image": { "type": "string", "format": "binary" }
                },
                "required": [
                  "full_name",
                  "phone",
                  "birth_date",
                  "gender",
                  "profile_image"
                ]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Refresh token success." }
        }
      },
      "get": {
        "tags": ["Profiles"],
        "summary": "Get user profile",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Ok." }
        }
      }
    },
    "/analytics/face-detection": {
      "post": {
        "tags": ["Analytics"],
        "summary": "Mendeteksi emosi",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_base64": { "type": "string" }
                },
                "required": ["image_base64"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Ok." }
        }
      }
    },
    "/analytics/apply-profile": {
      "post": {
        "tags": ["Analytics"],
        "summary": "Mendeteksi usisa & gender",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_base64": { "type": "string" }
                },
                "required": ["image_base64"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Ok." }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
